body{
  background-image: url(../img/dicethrow.jpg);
  background-size: cover;
  font-family: 'VT323', monospace;
}
.game-console{
  background-color: #fee4f1;
  border-radius: 5px;
  display: none;
  padding: 3rem;
}
.game-display{
  margin-bottom: 10px;
}
#logo{
  height:5rem;
}
.myNav{
  padding-left: 5rem;
  padding-right: 10rem;
}
#form-names{
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
#form-names h3{
  color:white;
}
label{
  color: white;
}
#diceShow{
  background-color: transparent;
}
#diceShow img{
  margin-left: auto;
  margin-right: auto;
  width:auto;
}
.player-container{
  background-color: #
  border-radius: 5px;
}
.new{
  font-size: 25px;
}
.footer{
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  padding:5px;
}

.name1,.name2{
  border-radius: 5px;
  padding-left: 2px;
}

@media screen and (max-width: 480px){
  body{
    background-image: none;
  }
}